<?xml version="1.0" encoding="UTF-8" ?>

<configuration scan="true" scanPeriod="3 seconds">

  <statusListener class="ch.qos.logback.core.status.OnConsoleStatusListener"/>

  <appender name="STDOUT"
            class="ch.qos.logback.core.ConsoleAppender">
    <layout class="ch.qos.logback.classic.PatternLayout">
      <pattern>
        %d{HH:mm:ss} [%thread] %-5p %class{0} - %m%n
      </pattern>
    </layout>
  </appender>

  <appender name="FILE"
            class="ch.qos.logback.core.rolling.RollingFileAppender">
    <File>logs/application.log</File>
    <rollingPolicy
            class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
      <FileNamePattern>
        logs/application.%d{yyyy-MM-dd}.log.zip
      </FileNamePattern>
    </rollingPolicy>

    <layout class="ch.qos.logback.classic.PatternLayout">
      <Pattern>
        %d{HH:mm:ss} [%thread] %-5p %class{0} - %m%n
      </Pattern>
    </layout>
  </appender>
  
  <logger name="com.filesender.sftp" level="INFO" />
  <logger name="com.jcraft.jsch" level="ERROR" />
  <logger name="o.s.i.s.s.DefaultSftpSessionFactory" level="ERROR" />

  <root>
    <level value="INFO"/>
    <appender-ref ref="STDOUT"/>
    <appender-ref ref="FILE"/>
  </root>

</configuration>